<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	</head>
	<body >		
		<div id="header" th:fragment="header" >  
			<h1 class="h1">Portal de Capacitación</h1> 
			<nav class="navbar navbar-expand-lg bg-light">
			  <div class="container-fluid">
			    
			    <div class="collapse navbar-collapse" id="navbarSupportedContent">
			      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			        <li class="nav-item"><a class="nav-link" href="../">Inicio</a></li> 
					<li class="nav-item"><a class="nav-link" href="../agenda.html">Agenda</a></li> 
					<li class="nav-item"><a class="nav-link" href="../beneficios.html">Beneficios y Becas</a></li> 
					<li class="nav-item"><a class="nav-link" href="../contacto.html">Contactanos</a></li>
					<li class="nav-item dropdown">
			          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			            Datos</a>
			          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
			            <li><a class="dropdown-item" th:href="@{docentes}">Docentes</a></li>
			            <li><a class="dropdown-item" th:href="@{/alumnos}">Alumnos</a></li>
			            <li><hr class="dropdown-divider"></li>
			            <li><a class="dropdown-item" th:href="@{becas}">Becas</a></li>
			            <li><a class="dropdown-item" th:href="@{/cursos}">Cursos</a></li>
			          </ul>
			        </li>			        
			      </ul>			     
			    </div>
			  </div>
			</nav>	   		           
		 </div> 
	</body>
</html>