<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title> Agenda </title>
</head>

<body>
	<header th:insert="/layouts/header::header">
		<h1> Calendario </h1>
		<nav>
			<ul>
				<li><a href="index.html"> Inicio</a></li>
				<li><a href="agenda.html"> Agenda</a></li>
				<li><a href="beneficios.html"> Beneficios y Becas</a></li>
				<li><a href="contacto.html"> Contáctanos</a></li>
				</ul>
		</nav>
		<img src="../static/images/calendario.jpg" alt="Imagen calendario" title="Calendario año 2022" width="1000" height="480">
	</header>
	<section>
		<p>Convocatorias 2022. La agenda establece fechas para la incorporación de ingresantes y estudiantes avanzados. <br/> Encontrá toda la información sobre las diferentes opciones de Beneficios y Becas. <br/> Las y los interesadas/os en tramitar su postulación podrán hacerlo vía web ingresando en: <a href="index.html">click aquí</a>. <br/> En tanto que podrán solicitar asistencia y/o respuestas a sus dudas e inquietudes escribiendo un correo electrónico a <a href="index.html">click aqui</a>.</p>
	</section>
	<video src="../static/videos/video.mp4" controls>
	
	</video>
	<footer th:replace="/layouts/footer::footer"></footer>
</body>

</html>