<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> </title>
</head>
<body>
     <header>
     	<h1>contactos</h1>
     	<img src="../static/images/Contacts.jpg" alt="No se cargo la imagen" title="Contactos" width="250px" height="100px">
     </header>

    <nav>
    	
          <ul type="circle">
          	<li>  <a href="index.html">Inicio</a>   </li>
          	<li>  <a href="agenda.html">Agenda</a>   </li>
          	<li>  <a href="beneficios.html">Beneficios y becas</a>   </li>
          	<li>  <a href="contacto.html">Contactanos</a>   </li>
          	
         </ul>
    </nav>


    <form  action="" method="POST" >
    	
    	<label>Nombre y Apellido</label>
    	<input type="text" />
        
        <br/>
         <br/>
    	
    	<label>Provincia</label>
    	
       <select >
       	
       	<option>buenos aires</option>
       	<option>catamarca</option>
       	<option>chaco</option>
       	<option>chubut</option>
       	<option>cordoba</option>
       	<option>corrientes</option>
       	<option>entre rios</option>
       	<option>formosa</option>
       	<option>jujuy</option>
       	<option>la pampa</option>
       	<option>la rioja</option>
       	<option>mendoza</option>
       	<option>misiones</option>
       	<option>Neuquen</option>
       	<option>Rio Negro</option>
       	<option>Salta</option>
       	<option>San Juan</option>
       	<option>San Luis</option>
       	<option>Santa Cruz</option>
       	<option>Santa Fe</option>
       	<option>Santiago del Estero</option>
       	<option>Tierra del Fuego</option>
       	<option>Tucuman</option>
       	
       </select>


        <br/>
         <br/>
    	
    	<label>Telefono</label>
    	<input type="text" />
    	 <br/>
    	<br/>
    	<label>correo electronico</label>
    	<input type="text" />
    	<br/>
    	 <br/>
    	<label>Estado Civil</label>
    	<input type="text" />
    	<br/>
    	 <br/>
    	<label>Mensaje</label>
    	<input type="text" />
        <br/>
         <br/>
        <button type="submit">enviar datos </button>


     </form>



     <footer>
     	
           <p>2022.Portal de capacitacion-Av.General Manuel Belgrano 789-Telefono (388)999999 S.S de jujuy Republica Argentina</p>

     </footer>





</body>
</html>