<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="/layouts/header::header"></header>
	<table>
		<tr>
			<th>Código</th>
			<th>Título</th>
			<th>Categoría</th>
			<th>Fecha de Inicio</th>
			<th>Fecha de Fin</th>
			<th>Cantidad de Horas</th>
			<th>Modalidad</th>
			<th>Docente</th>
		</tr>
		<tr>
			<th th:text="${codigo}"/>
			<th th:text="${titulo}"/>
			<th th:text="${categoria}"/>
			<th th:text="${inicio}"/>
			<th th:text="${fin}"/>
			<th th:text="${horas}"/>
			<th th:text="${modalidad}"/>
			<th th:text="${docente}"/>
		</tr>
	</table>
	
	<footer th:replace="/layouts/footer::footer"></footer>
</body>
</html>