<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
		<script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
		<script src="/webjars/popper.js/umd/popper.min.js" type="text/javascript"></script>
		<script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>				
		<meta charset="UTF-8">
		<title>Edicion Curso</title>
	</head>
	<body class="container">
		<br>
		<header th:replace="/layouts/header::header"></header>
		<div class="container col-4">
			<br>
			<br>
			<br>
			<br>
			<h2>Edicion Curso</h2><br>
			<form th:action="@{/cursoModificar}" method="POST" th:object="${curso}">
			  <div class="mb-3">
			  	<input type="hidden" th:field="*{codigo}"/>
			    <label for="idCodigo" class="col-form-label">Codigo</label>
			    <input th:value="${codigo}" type="number" class="form-control" id="idCodigo" disabled="disabled">
			    <div class="text-danger" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></div>		
			  </div>
			  
			  <div class="mb-3 row">
			    <label for="idTitulo" class="col-form-label">Titulo</label>
			    <input th:field="*{titulo}" type="text" class="form-control" id="idtitulo">
			    <div class="text-danger" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></div>
			  </div>
			  
			  <div class="mb-3 row">
			    <label for="idcategoria" class="col-form-label">Categoria</label>
				<input th:field="*{categoria}" type="text" class="form-control" id="idcategoria">
				<div class="text-danger" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></div>
			  </div>
			  
			  <div class="mb-3 row">
			    <label for="idFechaInicio" class="col-form-label">Fecha de inicio</label>
			    <input th:field="*{fechaInicio}" type="date" class="form-control" id="idFechaInicio">		
			    <div class="text-danger" th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}"></div>    
			  </div>
			  
			  <div class="mb-3 row">
			    <label for="idFechaFin" class="col-form-label">Fecha fin</label>
			    <input th:field="*{fechaFin}" type="date" class="form-control" id="idFechaFin">		
			    <div class="text-danger" th:if="${#fields.hasErrors('fechaFin')}" th:errors="*{fechaFin}"></div>    
			  </div>
			  
			  <div class="mb-3 row">
			    <label for="idHoras" class="col-form-label">Horas</label>
				<input th:field="*{horas}" type="number" class="form-control" id="idHoras">
				<div class="text-danger" th:if="${#fields.hasErrors('horas')}" th:errors="*{horas}"></div>
			  </div>
			  
			  <div class="mb-3 row">
			    <label for="idModalidad" class="col-form-label">Modalidad</label>
				<input th:field="*{modalidad}" type="text" class="form-control" id="idModalidad">
				<div class="text-danger" th:if="${#fields.hasErrors('modalidad')}" th:errors="*{modalidad}"></div>
			  </div>
			  
			  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<button   class="btn btn-primary me-md-2" type="submit">Editar</button>
					<a th:href="@{/cursos}" id="cancel" class="btn btn-secondary">Cancelar</a>
			  </div>
			</form>
		</div>
		<br><br>
		<footer th:replace="/layouts/footer::footer"></footer>
		</body>
</html>