<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Trabajo Practico N1</title>
	<link rel="stylesheet" type="text/css" th:href="../static/css/style.css" />
</head>

<body>
	<header th:replace="/layouts/header::header"></header>
  	<section>
		<h2>Cursos con inscripcion abierta</h2>
		<ol>
			<li><a href="#">Idiomas</a></li> 
			<li><a href="#">Diseno</a></li> 
			<li><a href="#">Desarrollo</a></li> 
			<li><a href="#">Marketing</a></li> 
			<li><a href="#">Conferencias</a></li> 
		</ol>
	</section>
	<footer th:replace="/layouts/footer::footer"></footer>
</body>

</html>