<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Curso de Marketing</title>
	<link rel="stylesheet" type="text/css" th:href="../static/css/style.css" />
	<h1>
		<img src="../static/images/marketing.png"/>
	</h1>
</head>
<body>
	<nav>
		<ul>
			<li>
				<a href="">Inicio</a>
			</li>
			<li>
				<a href="">Agenda</a>
			</li>
			<li>
				<a href="">Beneficios y Becas</a>
			</li>
			<li>
				<a href="">Contáctanos</a>
			</li>
		</ul>
	</nav>
	<section>
		<sub>Subtítulo</sub>
		<p>Párrafo 1</p>
		<p>Párrafo 2</p>
		<p>Párrafo 3</p>
		<table>
			<tr>
				<th>Título del curso</th>
				<th>fecha inicio</th>
				<th>horario</th>
				<th>fecha fin</th>
				<th>modalidad (virtual/presencial)</th>
				<th>docente</th>
				<th>duración en semanas</th>
			</tr>
			<tr>
				<td>Titulo</td>
				<td>Inicio</td>
				<td>Horario</td>
				<td>Fin</td>
				<td>Modalidad</td>
				<td>Docente</td>
				<td>Duración</td>
			</tr>
		</table>
	</section>
</body>
</html>