@charset "ISO-8859-1";
		/*todos los elementos p y h1 (para los textos de párrafos y títulos)*/
	p, h1 {
		color: blue;
		font-style: italic;
		text-align: center;
	}
	
	/*todos los elementos a*/
	a {
		color: blue;
		font-style: italic;
}